*{
    margin: 0;
    padding: 0;
    background-color: #FFF0F5;
}
h1{
    text-align: center;
    margin-top: 50px;
}
h2{
    margin-left: 30px;
    padding: 20px;
}

.lorem {
    background-color: #FFB6C1;
    margin-left: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;
}
.text{
    background-color: #FFB6C1;
    margin-left: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;

}
.list{
    background-color: #FFB6C1;
    margin-left: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;
}
 .lorem, .list, .text {
    display: inline-block;
    margin-left: 50px;
} 

h3{
    padding: 20px;
    margin-left: 30px;
}

p {
    background-color: #FFE4E1;
    margin-left: 50px;
    width: 500px;
}

b, strong, i, em, mark{
    background-color: #FFE4E1;
}